@{
    ViewData["Title"] = "Change password";
}

<h3>Change password</h3>

<div class="col-lg-3">
    <form action="/Account/ChangePassword" method="POST">
        <input type="hidden" value="@Model" name="id" />
        <div class="form-group">
            <label>Old password:</label>
            <input type="password" class="form-control" name="OldPassword" />
        </div>
        <div class="form-group">
            <label>New password:</label>
            <input type="password" class="form-control" name="NewPassword" />
        </div>
        <div class="form-group">
            <label>Password confirm:</label>
            <input type="password" class="form-control" name="PasswordConfirm" />
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
</div>